<div class="laberinto" (window:keydown)="manejarteclaprecionada($event)">
    <div class="nivel"*ngIf="nivelactual !== 0">¡Nivel {{nivelactual}}</div>
    <div *ngIf="nivelactual === 0" class="mensaje-victoria-final">¡Has completado todos los niveles!</div>
    <div class="fila" *ngFor="let fila of labeerinto">
        <div class="celda {{celda.tipo}}" *ngFor="let celda of fila">{{ celda.tipo }}</div>
    </div>
    <div class="btn" *ngIf="nivelactual !== 0">
      <button (click)="moverarriba()">↑</button>
      <div>
        <button (click)="moverizquierda()" >←</button><button (click)="moverderecha()" >→</button>
      </div>
      <button (click)="moverabajo()" >↓</button>
    </div>
    <button class="aling" *ngIf="nivelactual === 0" (click)="reloadPage()">Intentar de nuevo</button>
</div>


